<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>

<div class="container">
    <center><img class="imagen_logo" src="img/Logo_Combita.png" alt="Logo"></center>
    <div class="heading-container">
        <h2>Inicio de sesión</h2>
    </div>
    <form method="POST" enctype="multipart/form-data">
        <div class="group">
            <label for="nombre">Correo electronico</label>
            <input type="text" class="login-input" id="nombre" name="nombre" required>
        </div>
        <div class="group">
          <label for="contrasena">Contraseña:</label>
          <input type="password" class="login-input" id="contrasena" name="contrasena" required>
      </div>

      <button type="submit" class="btn">Registrarse</button>
      <br>
      '<center><a href="trabajador/registro" class="enlace">No estás registrado?</a></center>'

  </form>
</div>

</body>
</html>