<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="/static/css/home_empleador.css">
</head>
<body>
    <div class="container">
        <center><img class="imagen_logo" src="img/Logo_Combita.png" alt="Logo"></center>
        <hr>
        <h1>Registro de Empleo</h1>

        <form method="POST" enctype="multipart/form-data">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="tipo">Tipo de empleo:</label>
                    <select class="form-control" id="Tipo" name="Tipo" required>
                        <option value="?">?</option>
                        <option value="?">?</option>
                        <option value="?">?</option>
                        <option value="?">?</option>
                        <option value="?">?</option>
                    </select>
                </div>
                
                <div class="form-group col-md-6">
                    <label for="apellido">Descripcion:</label>
                    <input type="text" class="form-control" id="Descripcion" name="Descripcion" required>
                </div>
            </div>

            <div class="form-group">
                <label for="direccion">Paga:</label>
                <input type="text" class="form-control" id="Paga" name="Paga" required>
            </div>

            <div class="form-group">
                <label for="foto">Subir Foto:</label>
                <input type="file" class="form-control" id="foto" name="foto">
            </div>

            <button type="submit">Registrar</button>
        </form>
    </div>
</body>
</html>