<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Página con Header, Búsqueda y Contenido</title>
    <link rel="stylesheet" href="/static/css/home_migrante.css">
</head>
<style>

</style>

<body>
    <header>
        <center><img class="imagen_logo" src="/static/img/Logo_Combita.png" alt="Logo"></center>
        <div class="header-options">
            <a href="/mvc/views/empleador/home_empleador.html">Registrar Empleo</a>
            <!-- Botón de notificaciones utilizando Bootstrap -->
            
            <a href="/mvc/views/empleador/notificacion.html">Notificaciones</a>

            <a href="../">Salir</a>
        </div>
    </header>

    <!-- Contenido -->
    <div>
        <center>
            <h1>Registro de Empleo</h1>

        </center>
    </div>
    <div class="grid-container">
        <!-- Ejemplo de contenido -->
        <div class="grid-item">

            <div class="container">
                <center><img class="imagen_logo" src="/static/img/Logo_Combita.png" alt="Logo"></center>
                <hr>


                <form method="POST" enctype="multipart/form-data">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="tipo">Tipo de empleo:</label>
                            <select class="form-control" id="Tipo" name="Tipo" required>
                                <option value="?">Carpinteria</option>
                                <option value="?">Domestico</option>
                                <option value="?">Plomeria</option>
                                <option value="?">Albañileria</option>
                                <option value="?">Limpieza</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="apellido">Descripcion:</label>
                            <input type="text" class="form-control" id="Descripcion" name="Descripcion" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="direccion">Paga:</label>
                        <input type="text" class="form-control" id="Paga" name="Paga" required>
                    </div>

                    <div class="form-group">
                        <label for="foto">Subir Foto:</label>
                        <input type="file" class="form-control" id="foto" name="foto">
                    </div>

                    <button class="btn" type="submit">Registrar</button>
                    
                </form>
            </div>

        </div>








    </div>
    

</body>

</html>