<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO</title>
    <link rel="stylesheet" href="/static/css/registro.css">
</head>
<body>
    <h1>REGISTRO</h1>
    <hr>
    <br><br><br><br><br>
    <div>
    <button onclick="window.location.href='/migrante/registro_migrante'">Migrante</button>
    <button onclick="window.location.href='/empleador/registro_empleador'">Empleador</button>
    </div>
</body>
</html>